{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row row-cols-3">
        <div class="col"></div>
        <div class="col">
            {% if profile.image_thumbnail %}
            <img src="{{profile.image_thumbnail.url}}" alt="">
            {% else %}

            <img src="{% static '/images/bono.jpg' %}" alt="">
            {% endif %}
            {% if profile.user_id == user.id %}
            <i class="far fa-edit"></i>
            {% else %}
            {% endif %}
        </div>
        <div class="col"></div>

    </div>
    <div class="row">
        <ul>
            <li>
                <div>
                    {{profile.age}} | {{profile.gender}}
                </div>
            </li>
            <li>
                <div>
                    <i class="fas fa-sms"></i>
                </div>
            </li>
        </ul>

    </div>


    <form action="{% url 'accounts:profile' user.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if author_id == user.id %}
        <div class="input-group mt-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" name="image"
                    aria-describedby="inputGroupFileAddon01" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        <div>
            <button type="submit"> 제출</button>
        </div>
        {% endif %}
    </form>


</div>


{% endblock content %}