{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    
    
{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-cols-3">
        <div class="col"></div>
        <div class="col" style="text-align:center;">
            {% if profile.image_thumbnail %}
            <svg height="100" width="100">
                <circle class="img-circular" cx="50" cy="50" r="40" stroke="#428bca" stroke-width="6" fill="#ffffff">
                    <img class="circle" src="{{profile.image_thumbnail.url}}" alt="">
                </circle>
            </svg> 
            
            {% else %}
            
            <img class="circle" src="{% static '/images/bono.jpg' %}" alt="">
            {% endif %}
            <div class="row" >
                {% if profile.user_id == user.id %}
                <i class="far fa-edit"></i>
                {% else %}
                {% endif %}
            </div>
            
        </div>
        <div class="col">
            
        </div>

    </div>
    <div style="text-align:center;">
        <ul>
            
            <li style="list-style:none;">
                <div>
                    <i class="fas fa-baby"></i>{{profile.age}} | <i class="fas fa-male"></i> {{profile.gender}}
                </div>
            </li>
            <li style="list-style:none;">
                <div>
                   <form action="{% url 'accounts:chat' profile.user_id %}" metod = "POST">
                   {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary" id="startChat" data-id="{{profile.user_id}}">
                        DM 보내기
                    </button>
                   </form>

                </div>
            </li>
        </ul>

    </div>


    <form action="{% url 'accounts:profile' user.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if author_id == user.id %}
        <div class="input-group mt-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" name="image"
                    aria-describedby="inputGroupFileAddon01" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        <div>
            <button class="btn btn-success" type="submit"> 변경완료</button>
        </div>
        {% endif %}
    </form>


</div>


{% endblock content %}



{% block script %}
<script>

</script
{% comment %} <script>
    $(document).on('click', '#startChat', function () {
        guest_id = $(this).data('id');
        console.log(guest_id)
        $.ajax({
            url: '{% url "accounts:chat" %}',
            method: 'POST',
            data: {
                guest_id: guest_id,
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            success: function (data) {
                console.log(data)
            },
            error: function (data) {

            }
        })

    })
</script> {% endcomment %}

{% endblock script %}